---
layout: layout.liquid
title: Random Name Button
---

<div x-data="{names:['George', 'Johnathan', 'Erika', 'Brendan', 'Theodore', 'Natalie', 'Candice', 'Ophellia', 'Patrick', 'Lindsey'], name: 'Press Button for a random name'}, getRandomItem">
    <section class="nameHolder">
        <h1 x-text="name"></h1>
    </section>
    <button x-on:click="name = getRandomItem(names)">Randomize Name</button>
</div>