---
layout: layout.liquid
title: Random Name Button
---

<div x-data="{names:['Gerorge', 'Johnathan', 'Egg cruiser', 'Big chungus']}">
    <span x-data="{name: 'John'}">
        <h1 x-text="name"></h1>
        <button x-on:click="name = GetRandomItem(names)">Randomize Name</button>
    </span>
</div>